body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-blend-mode: overlay;
    font-size: 120%;
}

.topheading {
    text-shadow: 5px 4px 21px #00d9ff;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 0px;
}

.card {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.568), rgba(0, 88, 104, 0.63));
    box-shadow: -1px 1px 56px -4px rgba(0, 0, 0, 0.88);
    color: white;
    padding: 1em;
    border-radius: 30px;
    width: 60%;
    max-width: 400px;
    margin: 0.5em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7cc4;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7cc4;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

input placeholder {
    color: white;
}

button:hover {
    background: #020202;
}

h1.temp {
    font-size: 1em;
    margin: 0;
    margin-bottom: 0.3em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}